.btn {
    background-color:#fd8558;
    background-image: linear-gradient(to right, transparent 50%, #fd8558 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    position: static !important;
    margin: 0 25px 20px 0;
    transform: none;
    padding: 16px 32px;
    border: solid 2px #fd8558;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: none;
    transition: all 300ms ease;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .5px;
}

.btn:hover {
    background-color: transparent;
    background-position: left bottom;
    color:#fd8558;
    border-color:#fd8558;
}