.projectcard {
    display: inline-block;
    margin-bottom: 35px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    text-decoration: none;
}

.projectcard-img {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
}

.projectcard-header {
    display: block;
    padding: 40px 45px;
    overflow: unset;
    position: relative;
}

.projectcard-header * {
    text-decoration: none !important;
}

.projectcard-header h3 {
    text-decoration: none;
    padding-right: 35px;
}

.projectcard-header-arrow {
    color: #222222;
    font-family: sans-serif;
    content: '';
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    display: block;
    border: 2px solid #222222;
}

.projectcard-header-arrow:hover {
    border: 2px solid #fd8558;
}