/* Set CSS defaults early */
* {
    /* Don't forget to update in App.css */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-transition:  all 300ms ease;
    -moz-transition:  all 300ms ease;
    -o-transition:  all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease; 
}