@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap');


/**
 * Styling for defaults and pages.
 */


/*************************************
Defaults
*************************************/

* {
    /* Don't forget to update in base.css */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-transition:  all 300ms ease;
    -moz-transition:  all 300ms ease;
    -o-transition:  all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease; 
}

body {
    background-color: #faf7f7;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    font-weight: 800;
    font-size: 20px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    color: #fd8558;
}

p {
    color: #999999;
    font-size: 15px;
    padding-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    display: block;
    padding: 40px 80px;
}

@media screen and (max-width: 600px) {
    .container { padding: 30px; }
}


/*************************************
Home Page
*************************************/
.card-coloumns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
}

@media screen and (max-width: 800px) {
    .card-coloumns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


/*************************************
Project Page
*************************************/
.white-background {
    background-color: #ffffff;
    min-height: calc(100vh - 83px);
    -webkit-transition:  all 0ms;
    -moz-transition:  all 0ms;
    -o-transition:  all 0ms;
    -ms-transition: all 0ms;
    transition: all 0ms; 
}

.project-flex {
    display: flex;
    flex-direction: row;
}

.project-flexitem {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .project-flex {
        display: flex;
        flex-direction: column-reverse;
    }
}
