/*************************************
Loader
*************************************/
.loader {
    position: relative;
    width: 220px;
    height: 220px;
    animation: gradual-rotate 16s linear infinite; 
    margin: 5em auto;
    opacity: 0.8;
}
@keyframes gradual-rotate {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}


/*************************************
Center Pulse
*************************************/

.loader > .center1,
.loader > .center2 {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    animation: centerpulse 3s ease-in-out infinite; 
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
} 
.loader > .center2 { animation-delay: 1.5s; }
  
@keyframes centerpulse {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0.8; }
    70% { transform: translate(-50%, -50%) scale(1.5); opacity: 0; }
    100% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
}
  

/*************************************
Orbit Paths
*************************************/

.orbit {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.orbit1 { 
    border-bottom: 16px solid black;
    animation: rotate1 1s linear infinite; 
}
.orbit2 { 
    border-right: 16px solid black;
    animation: rotate2 1s linear infinite; 
}
.orbit3 { 
    border-top: 16px solid black;
    animation: rotate3 1s linear infinite; 
}
  
  
@keyframes rotate1 {
    0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
    100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}
@keyframes rotate2 {
    0% { transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg); }
    100% { transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg); }
}
@keyframes rotate3 {
    0% { transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg); }
    100% { transform: rotateX(35deg) rotateY(45deg) rotateZ(360deg); }
}