header {
    padding: 10px 80px;
    background-color: #faf7f7;
}

header .logo {
    display: block;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.2px;
    text-decoration: none;
    z-index: 100;
}

@media screen and (max-width: 700px) {
    header { padding: 10px; }

    header .logo { 
        font-size: 32px;
        text-align: center;
    }
}