.interactivehero {
    height: auto;
    padding: 0px 20px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.interactivehero .darkbg {
    min-height: calc(100vh - 100px);
    background-color: #2D2D2D;
}

.interactivehero .content-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    text-align: center;
}

.interactivehero .content-box h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}

.interactivehero .content-box h1 span {
    color: #FD8558;
}


@media screen and (max-width: 700px) {
    .interactivehero .darkbg { min-height: calc(100vh - 90px); }
    .interactivehero .content-box h1 { font-size: 46px; }
}

.interactivehero .circles {
    width: 390px;
    height: 390px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.interactivehero .circles .circle-filled {
    position: absolute;
    top: 15px;
    left: 0px;
    right: 20px;
    bottom: 5px;
    background-color: #333;
    border-radius: 50%;
}

.interactivehero .circles .circle-border {
    position: absolute;
    top: 0px;
    left: 20px;
    right: -20px;
    bottom: 0px;
    border: 8px solid #3c3c3c;
    border-radius: 50%;
}



@media screen and (max-width: 500px) {
    .interactivehero .circles { display: none; }
}