/*************************************
Normal Stars
*************************************/

@keyframes startwinkles {
    0%   { transform: rotate(0deg) translate(1px); opacity: 0.4; }
    50%  { transform: rotate(180deg) translate(6px); opacity: 0; }
    100% { transform: rotate(360deg) translate(1px); opacity: 0.4; }
}

.star {
    border-radius: 50%;
    background-color: #faf7f7;
    position: absolute;
    opacity: 0.35;
    animation: startwinkles 6s infinite;
    transition: 0s;
}


/*************************************
Shooting Stars
*************************************/

@keyframes shootingstar {
    0%   { transform: translate3d(0px, 0px, 0px) rotate(225deg); }
    80%  { transform: translate3d(0px, 0px, 0px) rotate(225deg); }
    100% { transform: translate3d(2000px, 2000px, 0px) rotate(225deg); }
}

.shootingstar {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #faf7f7;
    transform: rotate(225deg);
    animation: shootingstar 8s infinite;
    animation-timing-function: linear;
}
  
.shootingstar::after {
    position: absolute;
    display: block;
    content: '';
    width: 0; 
    height: 0; 
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent; 
    border-left: 260px solid #faf7f7; 
    top: 1px;
    left: 4px;
    opacity: 0.8;
}