footer {
    width: 100%;
    background-color: #faf7f7;
    text-align: center;
    color: #222222;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

footer a {
    color: #222222;
    text-decoration: none;
}

footer a:hover {
    color: #fd8558;
    text-decoration: none;
}